<h1>Stupid Coaching</h1>
<div class="banner-me">
  <p><%= @param%> </p>
  <p><em>-You</em></p>
</div>
<div class="banner">
  <p><strong><%= @ans %></strong></p>
  <p><em>-Your coach</em></p>
</div>
<%= link_to "Ask a new question", ask_path %>
