<h1>Stupid Coaching</h1>
<form action="/answer">
  <p>Ask your coach anything:</p>
  <input type="text" name="question" class="input_text">
  <input type="submit" value="Ask!" class="input_btn">
</form>
